socket = "/tmp/led-matrix.sock"

[collector]
max_history_samples = 10
sample_interval = "170ms"

[[collector.disks_names]]
[collector.disks_names.Name]
Equal = "nvme0n1"

[[collector.network_interfaces]]
[collector.network_interfaces.Name]
Equal = "wlp1s0"

[[collector.temperatures]]
StartsWith = "k10temp"

[render]
left = [
    { Cpu = { mid_point = 10, max_height = 10, k = 1.0 } },
    { AverageCpu = { start_x = 7, start_y = 20, end_y = 9, k = 1.0 } },
    { Network = { mid_point = 27, max_height = 7, k = 6.0 } }
]

right = [
    { Disk = { mid_point = 27, max_height = 7, k = 6.0 } },
    { Mem = { max_value = 100, start_y = 19, start_x = 0, end_x = 9, k = 3.0 } },
    { Mem = { max_value = 100, start_y = 20, start_x = 0, end_x = 9, k = 3.0 } },
    { Temp = { max_value = 100, start_y = 16, start_x = 0, end_x = 9, k = 3.0 } },
    { Temp = { max_value = 100, start_y = 17, start_x = 0, end_x = 9, k = 3.0 } },
    { Battery = { start_y = 0, max_height = 10 } }
]
